<%= stylesheet_link_tag 'error' %>
<div id="error_container">
  <div id="error-box">
    <div class="dot"></div>
    <div class="dot two"></div>
    <div class="face2">
      <div class="eye"></div>
      <div class="eye right"></div>
      <div class="mouth sad"></div>
    </div>
    <div class="shadow move"></div>
    <div class="message">
      <h1 class="alert">Error!</h1>
      <p>oh no, something went wrong.</p>
      <p>The page you were looking for doesn't exist.</p>
    </div>
    <button class="button-box">
      <%= link_to :back do %>
        <h1 class="red">Back</h1>
      <% end %>
    </button>
  </div>
</div>
