<%= stylesheet_link_tag "atm" %>
<div class="card">
  <figure class="card__figure">
    <img src="https://conta.nubank.com.br/images/nu-white.png" class="card__figure--logo"></img>
  </figure>
<div class="card__reader">
  <div class="card__reader--risk card__reader--risk-one"></div>
  <div class="card__reader--risk card__reader--risk-two"></div>
   <div class="card__reader--risk card__reader--risk-three"></div>
  <div class="card__reader--risk card__reader--risk-four"></div>
</div>
<p class="card__number"><%=@card.number%></p>
<div class="card__dates">
  <span class="card__dates--first"><%=@card.created_at%></span>
  <span class="card__dates--second"><%=@card.cvv%></span>
</div>
<p class="card__name">SWISS BANK<p>
<div class="card__flag">
  <div class="card__flag--globe"></div>
  <div class="card__flag--red"></div>
   <div class="card__flag--yellow"></div>
</div>
</div>
<div class="assign">
  <p>Made by <a href="https://github.com/krishna639665/bank" target="_blank">Swiss Bank</a></p>
</div>