$animation-speed: 1s;
$background-color: #fff;
$card-color: darken($background-color, 45); //#616161;
$card-height: 200px;
$card-width: $card-height * 1.7;
.wrapper {
    margin-top: 140px;
    margin-inline: auto;
    margin-bottom: 200px;
    height: 200px;
    width: 400px;
    perspective: 300px;
}

.atmcard {
    background: linear-gradient($card-color, darken($card-color, 10));
    box-shadow: 0px 0px 30px 0px rgba(#000, 0.3);
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: $card-height;
    width: $card-width;
}

.cards {
    .face {
        @extend .atmcard;
        .head {
            display: flex;
            justify-content: space-between;
            margin: 16px 16px 0 16px;
            .title {
                font-weight: 600;
                font-size: 20px;
            }
        }
        .main {
            margin: 16px 16px 0 16px;
            .number-title {
                color: darken(#fff, 20);
                margin-left: 15px;
            }
            .number {
                font-size: 22px;
                margin-left: 20px;
                font-family: 'Space Mono', monospace;
            }
        }
        .dates {
            display: flex;
            max-width: 100px;
            justify-content: space-between;
            margin: 16px 16px 16px 16px;
            .start {
                margin-left: 20px
            }
            .end {
                margin-left: 160px;
            }
        }
    }
}

.back {
    animation: demo ($animation-speed + 2) ease-in-out;
    transform: translateX(0) translateY(0);
    transition: transform $animation-speed;
    background: linear-gradient(darken($card-color, 4), darken($card-color, 14));
    @extend .atmcard;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    .magnetic-line {
        background: #000;
        margin-top: 16px;
        height: 32px;
        width: 100%;
    }
    .cvv {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: rgba(#fff, 0.2);
        border-radius: 4px;
        margin: 0 16px ($card-height / 3) 0;
        text-align: end;
        padding-right: 8px;
        width: $card-width / 1.5 + 9;
        height: 24px;
        margin-left: 15px;
    }
}

.cards:hover {
    .back {
        transform: translateX($card-width / 2) translateY(-50px);
        transition: transform $animation-speed;
    }
}

@keyframes demo {
    0% {
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: translateX($card-width / 2) translateY(-50px);
    }
    75% {
        transform: translateX($card-width / 2) translateY(-50px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}