<header>
  <nav class="navbar">
    <%= link_to 'logo', root_path, class:"navbar-brand" %>
    <ul class="navbar-nav">
      <li> <%= link_to 'Home', root_path %></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><%= link_to 'Blog', blog_path %></li>
    </ul>
    <button class="btn-primary">Request Invite</button>
  </nav>
</header>
